#ClockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
}
#hour{
    width: 1.4%;
    height: 23%;
    top:26.5%;
    left: 49.9%;
    opacity: 0.8;
    transform-origin: bottom;
 
}
#minute{
    width: 1.3%;
    height: 29%;
    top:20.5%;
    left: 49.99%;
    opacity: 0.8;
    transform-origin: bottom;

}
#second{
    width: 1.2%;
    height: 35%;
    top:14%;
    left: 49.99%;
    opacity: 0.8;
    transform-origin: bottom;
}